
@import url();
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
}

.conteiner {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px; 
    position: relative; 
}

header{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid #ff9fcc;
    border-left: 20px #ff9fcc;
    border-top: 10px #ff9fcc;
    border-right: 5px #ff9fcc;
}

main{
        padding: 20px 0;
}

footer{
    text-align: center;
    padding-top: 20px;
    border-top: 1px rgb(255, 155, 197);
    color: #bde7ff;
}

.menuflutuante {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}